build/
release/*.o
release/moc_*
release/qrc_*
release/*.cpp
release/moc_predefs.h
*.pro.user
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.exe
weather_cache.db 
docs/控件方法.md
docs/发行版本.md
docs/错误信息.md
docs/DataCache.md
docs/Qsettings.md
docs/chartwidget_步骤10.md
docs/ApiClient.md
.gitignore
docs/Qsettings_步骤11.md
docs/widget_步骤6.md
docs/widget.md
docs/widget_步骤1213.md
docs/widget_步骤9.md
docs/widget_步骤7.md
docs/widget_步骤5.md
docs/DataCache_步骤8.md
