@font-face {
  font-family: "iconfont"; /* Project id 5204049 */
  src: url('iconfont.woff2?t=1783011071274') format('woff2'),
       url('iconfont.woff?t=1783011071274') format('woff'),
       url('iconfont.ttf?t=1783011071274') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yejianduoyun:before {
  content: "\e675";
}

.icon-leizhenyu:before {
  content: "\e676";
}

.icon-dongyu:before {
  content: "\e677";
}

.icon-dayu:before {
  content: "\e678";
}

.icon-baoxue:before {
  content: "\e679";
}

.icon-zhongyu:before {
  content: "\e67a";
}

.icon-baoyu:before {
  content: "\e67b";
}

.icon-yin:before {
  content: "\e67c";
}

.icon-xiaoyu:before {
  content: "\e67d";
}

.icon-xiaoxue:before {
  content: "\e67e";
}

.icon-duoyun:before {
  content: "\e67f";
}

.icon-leizhenyubanyoubingbao:before {
  content: "\e680";
}

.icon-zhongxue:before {
  content: "\e681";
}

.icon-youfeng:before {
  content: "\e682";
}

.icon-zhenyu1:before {
  content: "\e683";
}

.icon-yujiaxue:before {
  content: "\e684";
}

.icon-daxue:before {
  content: "\e685";
}

.icon-dafeng:before {
  content: "\e686";
}

.icon-fengbao:before {
  content: "\e687";
}

.icon-jifeng:before {
  content: "\e688";
}

.icon-hefeng:before {
  content: "\e689";
}

.icon-fuchen:before {
  content: "\e68a";
}

.icon-liefeng:before {
  content: "\e68b";
}

.icon-kuangbaofeng:before {
  content: "\e68c";
}

.icon-jufeng:before {
  content: "\e68d";
}

.icon-mai:before {
  content: "\e68e";
}

.icon-qiangfengjinfeng:before {
  content: "\e68f";
}

.icon-longjuanfeng:before {
  content: "\e690";
}

.icon-nongwu:before {
  content: "\e691";
}

.icon-qingfeng:before {
  content: "\e692";
}

.icon-redaifengbao:before {
  content: "\e693";
}

.icon-weifeng:before {
  content: "\e694";
}

.icon-tq-1:before {
  content: "\e695";
}

.icon-pingjing:before {
  content: "\e696";
}

.icon-wu:before {
  content: "\e697";
}

.icon-qiangnongwu:before {
  content: "\e698";
}

.icon-yanzhongmai:before {
  content: "\e699";
}

.icon-yangsha:before {
  content: "\e69a";
}

.icon-zhongdumai:before {
  content: "\e69b";
}

.icon-zhongdumai1:before {
  content: "\e69c";
}

.icon-yewan:before {
  content: "\e69d";
}

.icon-youfeng1:before {
  content: "\e69e";
}

.icon-zhongdumai2:before {
  content: "\e69f";
}

.icon-zhenyu2:before {
  content: "\e6a0";
}

.icon-tedabaoyubaoyu:before {
  content: "\e6a1";
}

.icon-zhenxue:before {
  content: "\e6a2";
}

.icon-qingwu:before {
  content: "\e6a3";
}

.icon-qiangshachenbao:before {
  content: "\e6a4";
}

.icon-shachenbao:before {
  content: "\e6a5";
}

.icon-leng:before {
  content: "\e6a6";
}

.icon-re:before {
  content: "\e6a7";
}

.icon-weizhi:before {
  content: "\e6a8";
}

.icon-duoyunzhuanxiaoyu:before {
  content: "\e657";
}

.icon-yinzhuanduoyun:before {
  content: "\e616";
}

.icon-qingzhuanxiaoyu:before {
  content: "\e6d1";
}

.icon-baoyuzhuandayu:before {
  content: "\e6d4";
}

.icon-zhenyuzhuanyin:before {
  content: "\e6d5";
}

.icon-yinzhuanqing:before {
  content: "\e79d";
}

.icon-xiaoyudaozhongyu-mianxing:before {
  content: "\e652";
}

.icon-xiaoxuezhuanzhongxue:before {
  content: "\e723";
}

.icon-xiaoyuzhuanzhongyu:before {
  content: "\e726";
}

.icon-dayuzhuanbaoyu:before {
  content: "\e730";
}

.icon-zhongxuezhuandaxue:before {
  content: "\e73a";
}

.icon-yindaoduoyun:before {
  content: "\e674";
}

.icon-zhongxuezhuanxiaoxue:before {
  content: "\e607";
}

.icon-xiaoyuzhuanyin:before {
  content: "\e719";
}

.icon-duoyunzhuanqing:before {
  content: "\e617";
}

.icon-dayudaobaoyu:before {
  content: "\e626";
}

.icon-qingzhuanyinicon:before {
  content: "\e600";
}

.icon-leizhenyuzhuanzhenyuicon:before {
  content: "\e601";
}

.icon-xiaoxuedaozhongxue:before {
  content: "\e638";
}

.icon-duoyunzhuanyin:before {
  content: "\e632";
}

.icon-qingzhuanduoyunbaitian:before {
  content: "\e62a";
}

.icon-qingzhuanduoyunyewan:before {
  content: "\e62b";
}

.icon-zhenyu:before {
  content: "\e604";
}

.icon-dayuzhuanzhongyu:before {
  content: "\e602";
}

.icon-duoyunzhuanzhongyu:before {
  content: "\e605";
}

.icon-duoyunzhuanzhenyu:before {
  content: "\e606";
}

.icon-xiaoxuezhuanyin:before {
  content: "\e608";
}

.icon-xiaoxuezhuanyujiaxue:before {
  content: "\e609";
}

.icon-duoyunzhuanleizhenyu:before {
  content: "\e60a";
}

.icon-xiaoyuzhuanduoyun:before {
  content: "\e60b";
}

.icon-leizhenyuzhuanduoyun:before {
  content: "\e60c";
}

.icon-yujiaxuezhuanxiaoxue:before {
  content: "\e60d";
}

.icon-yinzhuanzhongyu:before {
  content: "\e60e";
}

.icon-xiaoyuzhuanyujiaxue:before {
  content: "\e60f";
}

.icon-yinzhuanxiaoyu:before {
  content: "\e610";
}

.icon-yinzhuanzhenyu:before {
  content: "\e611";
}

.icon-zhongyuzhuandayu:before {
  content: "\e612";
}

.icon-zhongyuzhuanbaoyu:before {
  content: "\e613";
}

.icon-zhongyuzhuanxiaoyu:before {
  content: "\e614";
}

.icon-zhenyuzhuanduoyun:before {
  content: "\e615";
}

.icon-zhongxuedaodaxue:before {
  content: "\e6b5";
}

